@font-face {
    font-family: wild;
    src: url(../assets/fonts/motley_forces/Motley\ Forces.ttf);
}

body {
    height: 100vh;
    margin: 0;
    background: #ACF39F50;
    font-family: wild;
    letter-spacing: 5px;
}
/* -------------------------Header--------------------------- */
.header {
    font-weight: bold;
    font-size: 2em;
    color: green;
    background: rgb(98,163,85);
    background: linear-gradient(123deg, rgba(98,163,85,1) 69%, rgba(143,243,121,1) 100%);
}
.header ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
  }
.header li {
    font-size: 1em;
    width: 100%;
}
.header h1 {
    display: flex;
    margin: 0;
    padding: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.header h1 span {
    transition: 1.2s;
    text-shadow: darkgreen 3px 3px 2px;;
}
.header h1 span:hover{
    color: #79F3A2;
    transition: 0.2s;
    text-shadow: greenyellow 4px 4px 10px;
}
  
.header li a {
    display: block;
    font-size: 1.2em;
    text-align: center;
    padding: 16px 24px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.4s;
    color: darkgreen;  
  }
.header li a:hover {
    transition: 0.8s;
    color: aqua;
    background: rgba(173, 255, 47,0.1);
} 
/* ----------------------------------------------------------------- */

.active {
    background: rgba(173, 255, 47,0.3);
}

/* -----------------------Main--------------------------- */
.main {
    display: flex;
    margin: 25px;
    background: #72BF62;
    border-radius: 25px;
    padding: 15px;
    flex-direction: column;
    font-size: 1.5em;
    height: max-content;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: normal;
}

.content {
    display: flex;
    justify-content: center;
}
.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.question .parcour {
    width: 100%;
    text-align: center;
    border-radius: 25px;
    background: rgb(98,163,85);
    margin: 15px;
    padding: 14px 26px;
    transition: 0.4s;
}

.question .parcour:hover {
    background: greenyellow;
}

/* ----------------------------------------------------------------- */ 

.login_form {
    position: absolute;
    margin-top: 40vh;
    height: 68vh;
    width: 95vw;
    min-height: max-content;
    min-width: 45vw;
    left: 50%;
    transform: translate(-50%,-50%);
}

form {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid green;
    border-radius: 45px;
    padding: 15vw;
    padding-top: 50px;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 50px;
    transition: all 4sec ease-in;
}

form label {
    color: green;
}

input  {
    color: greenyellow;
    border: 2px solid green;
    background: white;
    border-radius: 2px;
    padding: 10px 90px;
    margin: 8px;
    border-radius: 15px;
    max-width: 80vw;
    font-size: 1.2rem;
    text-align: center;
    transition: all 0.5s ease-out;
   }
   

form input:focus {
    box-shadow: 2px 2px 15px #79F3A2 inset;
   }

form h2 { 
    color: greenyellow;
    margin-top: 25px;
   }

form p {
    text-decoration: none;
    color: darkgrey;
    margin: 5px;
}

a:hover {
    color: #8707ff;
    cursor: pointer;
}

.question_form {
    display: flex;
    flex-direction: row;
}

.question_form input {
    color: greenyellow;
    border: 2px solid green;
    border-radius: 2px;
    padding: 90px 140px;
    margin: 8px;
    font-size: 1.2rem;
    text-align: center;
    transition: all 0.5s ease-out;
}

.question_form .vrai input {
    background: red;
}
input:hover {
    box-shadow: 10px 5px 5px greenyellow;
    color: #8707ff;
}

.blink :not(.buttonwithout){
    --randomValue: 2;
    animation: blink 3s infinite;
}


@keyframes blink {
  0% {
    opacity: 1;
    color: red;
  }
  25% {
    color: green;
  }
  50% {
    opacity: 0;
    transform: scale(2);
      color: blue;
  }
  51% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    color: yellow;
  }
  100% {
    transform: scale(1);
    opacity: 1;
      color: red;
  }
}